{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    A few more questions
{% endblock %}

{% block content %}



    <p> Thank you! You will see the game outcomes and your earnings after we have finished all the games. Before proceeding to the next game we would like to make sure that you were paying attention to the previous questions. You were previously asked to read a short text about the renaming of Indian cities that have Muslim/Urdu sounding names.


</p>

    {% formfields %}

    {% next_button %}

{% endblock %}