{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Introduction
{% endblock %}

{% block content %}

    <p>Welcome! This is an experiment by the Center for Experimental Social Sciences. You are invited to answer some questions and play 3 games where your responses to different decision situations influence your final earnings. Your earnings during the experiment will depend on your decisions, and the decisions of the other participants.  </p>
    <p>You will play 3 games. At the end of the study, the computer will randomly pick any 2 of these games to make your payments.</p>
    <p>In total, the experiment will take approximately 45 minutes. All instructions will be provided on your screens. </p>
    <p>Before we begin the game, we will ask you to answer a short questionnaire, starting with your subject ID. This is the number written on the chit you picked out of the bag, before entering the room. </p>

    <p>
What is your subject ID? Please enter it in the box below.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
