{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Game 1 Instructions
{% endblock %}

{% block content %}

    <div class="card bg-light instructions">
    <div class="card-body">

    <h3>

    </h3>



        <p>
        We will now ask you to do some tasks, for which you will be paid at the end of the experiment. In the following task, you will be paired with randomly chosen participants in this room. You will be shown some information about them, from the responses they provided previously. Similarly, they will be shown your information. Remember, none of this information can be used to identify you, so feel free to make any decision you want. We will also ask you not to reveal your decisions outside this session to anyone.
        </p>
        <p>An important point is that there is no right or wrong decision in these tasks. Please just decide whatever you think is best for you. </p>

        <p>This task is about deciding whether to play PLUS or MINUS in a game together with a partner. You will be randomly paired up with different partners in this room. For this task, both you and your partner receive a certain amount of money from us to play the game. Depending on what you decide, you can earn different amounts of money.</p>

        <p><b>An important point is that there is no right or wrong decision in these tasks. Please just
decide whatever you think is best for you. </b></p>


        <p>This is an <b>example</b> of the game: </p>
        <p>1. If you and your partner both decide to play MINUS, each of you get 20Rs for playing the game.  </p>

        <p>2. If you both decide to play PLUS, we add some money, and each of you receives 100Rs.  </p>

        <p>3. However, if you and your partner make different decisions and you decide to play PLUS,but your partner plays MINUS, you receive 10 and your partner receives 120. </p>

        <p>4. On the other hand, if you play MINUS but your partners plays PLUS, you receive 120 while your partner receives 10. </p>

       <p><b>Your earnings therefore depend not only on if you play PLUS or MINUS, but also on whether your partner does.</b></p>

        <p>You will play 8 rounds of this game. In each round, you will be paired with a new partner. Although we ask you to play multiple rounds, your final earning will be determined by a random draw of one round of the game. </p>



    <table border = 2 cellpadding="10">
  <tr>
    <th>Your Decision</th>
    <th>Your Earnings (Rupees)</th>
        <th>Partner's Earnings (Rupees)</th>
      <th>Partner's Decisions</th>
  </tr>
  <tr>
      <td>+</td>
    <td>100</td>
    <td>100</td>
      <td>+</td>
  </tr>
  <tr>
    <td>-</td>
    <td>120</td>
    <td>10</td>
      <td>+</td>
  </tr>
  <tr>
    <td>+</td>
    <td>10</td>
    <td>120</td>
      <td>-</td>
  </tr>
  <tr>
    <td>-</td>
    <td>20</td>
    <td>20</td>
      <td>-</td>
  </tr>

</table>
        <p></p>
        <p>Your partner can change across rounds, so can the payoff structure, so you must pay attention to your partner’s information, and the game payoff!</p>





</div>
</div>

    {% next_button %}

{% endblock %}
