{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you!
{% endblock %}

{% block content %}

{#    <p>Game 1 Payoff: {{ prisoner_payoff }}</p>#}
{#    <p>Game 2 Payoff: {{ dictator_payoff }}</p>#}

    <p></p>

    <p>Thank you for your time and participation. Your payoff for this session is {{ participant.payoff }}</p>

    <p>Please be seated until the instructor calls your subject ID. You will then be paid the amount you earned in a private area outside this room. Your earnings will not be told to anybody else. If the amount that you’ve been paid is correct, please sign the receipt with today’s date, and return the receipt back to the instructor. </p>

    <p>Do not forget to take your earnings with you.</p>

    <p>As a final request, we ask of you to not discuss the games you played and the decisions you took in this session with your classmates who have yet to participate in the session. </p>

    <p>Thank you!</p>


{% endblock %}
