{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Give to charity
{% endblock %}

{% block content %}

    <table border = 2 cellpadding="10" class="RankTable">
  <tr>
      <th>Muslim Aid</th>
    <th>Keep for yourself</th>


  </tr>
       <tr>
           <td><img src="{% static image_path5 %}" height="200" width="250"/></td>
           <td><img src="{% static image_path1 %}" height="200" width="250"/></td>


  </tr>
        <tr>
            <td>Vision: “Muslim Aid provides a gateway to the poor and needy people for their development.” </td>
    <td></td>



  </tr>

        <tr>
{#           <td>{% formfield player.allocation1_4 %}</td>#}
            <td>{% formfield player.allocation5 %}</td>
            <td><div class="form-group">
                     <label class="control-label col-sm-2" for="remainder">Amount keeping for yourself</label>
                     <div class="col-sm-10">
                        <input type="number" name="remainder" id="remainder" class="form-control" readonly />
                     </div>
                  </div>

            </td>

  </tr>


    </table>

    <p></p>
    <p></p>





    {% next_button %}



    {{ block.super }}
{% endblock %}

{% block scripts %}

    <script>

$(function(){
            $('#id_allocation1_4, #id_allocation5').keyup(function(){
               var id_allocation1_4 = parseFloat($('#id_allocation1_4').val()) || 0;
               var id_allocation5 = parseFloat($('#id_allocation5').val()) || 0;
               $('#remainder').val(100 - id_allocation5);
            });
         });


    </script>

{% endblock %}