{% load otree %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        In this next and final task, you will be given an amount of INR 100. Again, you will be paired with a randomly chosen participant in this room. You will be given an option to send any amount from INR 0 to INR 100 to your partner in each round. You will keep the rest of the amount for yourself.
    </p>
    <p>
        There  {{ Constants.endowment }} to split. Participant 1 will
        decide how much she or he will retain. Then the rest will go to
        Participant 2.
    </p>
</div>
</div>